<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    <include resource="/org/springframework/boot/logging/logback/base.xml"/>-->
    <!--    <logger name="org.apache.juli.*" level="DEBUG"/>-->
    <!--        <logger name="org.hibernate" level="INFO"/>-->
    <!--    <logger name="org.mongodb" level="INFO"/>-->
    <!--    <logger name="com.castler" level="DEBUG"/>-->

    <property name="DIRECTORY" value="./logs"/>
    <contextName>${HOSTNAME}</contextName>
    <timestamp key="year" datePattern="yyyy"/>
    <timestamp key="month" datePattern="MMM"/>
    <timestamp key="date" datePattern="dd"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <encoder>
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/rolling_app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/rolling_app.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Async Appender -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

<!--    &lt;!&ndash; Socket Appender &ndash;&gt;-->
<!--    <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">-->
<!--        <remoteHost>localhost</remoteHost>-->
<!--        <port>4560</port>-->
<!--        <reconnectionDelay>10000</reconnectionDelay>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Syslog Appender &ndash;&gt;-->
<!--    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">-->
<!--        <syslogHost>localhost</syslogHost>-->
<!--        <facility>USER</facility>-->
<!--        <suffixPattern>%logger - %msg%n</suffixPattern>-->
<!--    </appender>-->

    <!-- Logger Configurations -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <!-- You can add other appenders as needed -->
    </root>

</configuration>